In [2]:
import pandas as pd

In [3]:
ds = pd.read_csv('data.csv')

In [4]:
ds.columns

Index([u'SALESPERSON', u'Old Scheme (in thousands)',
       u'New Scheme (in thousands)'],
      dtype='object')

In [5]:
ds.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

Q1 Solution

In [6]:
ds['Old Scheme (in thousands)'].mean()

68.03333333333333

In [7]:
ds['New Scheme (in thousands)'].mean()

72.03333333333333

Difference of mean = 4000

Q2 Solution

μ1 = Average sums assured by salesperson BEFORE changeover. <br>
μ2 = Average sums assured by salesperson AFTER changeover. <br>
H0: μ1 = μ2 ; μ2 - μ1 = 0 <br>
HA: μ1 < μ2 ; μ2 – μ1 > 0 ; true difference of means is greater than zero. <br>
Since, population standard deviation is unknown, paired sample t test will be used. <br>

In [8]:
from scipy import stats

In [24]:
stats.ttest_rel(ds['New Scheme (in thousands)'],ds['Old Scheme (in thousands)'],axis = 0)

Ttest_relResult(statistic=1.5559143823544377, pvalue=0.13057553961337662)

Q3 solution

P value (0.13/2 = 0.065) is greater than 0.05 we accept (fail to reject) NULL hypothesis. <br>
The new scheme has NOT significantly raised outputs.

Q4 Solution

a. Probability of a type 1 error = confidence interval = 0.05

b. μ2 = Average sums assured by salesperson AFTER changeover. <br>
μ1 = Average sums assured by salesperson BEFORE changeover. <br>
μd = μ2 – μ1 <br>
H0: μd ≤ 5000 <br>
HA: μd > 5000 <br>
This is a right tail test.

In [25]:
ds1 = (ds['New Scheme (in thousands)'] - ds['Old Scheme (in thousands)'])

In [28]:
stats.ttest_1samp(ds1,5)

Ttest_1sampResult(statistic=-0.3889785955886094, pvalue=0.7001334912613286)

Since p value is > 0.05 we cannot reject the null hypothesis. Hence, the impact of the new scheme compared to the old scheme is less than 5000

c. Power of the test

Let <br>
μ2 = Average sums assured by salesperson AFTER changeover. <br>
μ1 = Average sums assured by salesperson BEFORE changeover. <br>
μd = μ2 – μ1 <br>
H0: μd = 4000 (difference in means) <br>
HA: μd > 0 <br>
• H0 will be rejected if test statistics > t_critical. <br>
• With α = 0.05 and df = 29, critical value for t statistic (or t_critical ) will be 1.699127. <br>
• Hence, H0 will be rejected for test statistics ≥ 1.699127. <br>
But, t = (x̅−u0)/(s/√n) <br>

• Hence, H0 will be rejected if for x̅≥ 4368.176

In [35]:
n = ds.shape[0]

Multipying numerator by 1000 as all values are in 000s in the dataset

In [105]:
import numpy as np
stderror = ds1.std()*1000/np.sqrt(n)

In [106]:
stderror

2570.8355455569013

Right tail test - Hence using alpha = 0.95. alpha = 0.05 gives negative t stats value

In [107]:
alpha = 0.95

In [108]:
t_critical = stats.t.ppf(alpha,n-1)

In [109]:
x_bar = t_critical * stderror

In [110]:
x_bar

4368.176156228718

In [111]:
t_stat = (x_bar - 5000)/ se

In [112]:
t_stat

-0.2457659514095501

In [113]:
power_of_test = stats.t.sf((t_stat),n-1)

In [114]:
power_of_test

0.5962027475205685